<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623336400723-6ok0gmm2ncuprgp2pv0tg7pgftrdrgs9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623336400723-6ok0gmm2ncuprgp2pv0tg7pgftrdrgs9</string>
	<key>API_KEY</key>
	<string>AIzaSyBE29X_pfKzCeEjf6ZGjQN_Vovz70mLc1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>623336400723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notification</string>
	<key>PROJECT_ID</key>
	<string>laravel-notification-3d7e6</string>
	<key>STORAGE_BUCKET</key>
	<string>laravel-notification-3d7e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623336400723:ios:709e8b342fdb07b93a23a6</string>
</dict>
</plist>